<mat-tab-group mat-stretch-tabs [@.disabled]="true">
  <mat-tab label="Playlists">
    <mat-grid-list cols="4" rowHeight="5:4">
      <mat-grid-tile id="playlist" *ngFor="let playlist of playlists">
        <mat-card
          [routerLink]="['/playlist', playlist.id]"
          (contextmenu)="onContextMenu($event, playlist.id, 'playlists')"
        >
          <img
            [src]="images.get(playlist.cover) | safeResourceUrl"
            alt="Playlist Cover"
          />

          <div class="title">
            <div class="name">
              {{ playlist.name }}
            </div>
            <div class="user">
              {{ playlist.user }}
            </div>
          </div>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    <div class="no_content" *ngIf="!playlists.length">
      <h1>No added playlists in library</h1>
    </div>
  </mat-tab>
  <mat-tab label="Albums">
    <mat-grid-list cols="4" rowHeight="5:4">
      <mat-grid-tile id="album" *ngFor="let album of albums">
        <mat-card
          [routerLink]="['/album', album.id]"
          (contextmenu)="onContextMenu($event, album.id, 'albums')"
        >
          <img
            [src]="images.get(album.cover) | safeResourceUrl"
            alt="Album Cover"
          />
          <div class="title">
            {{ album.name }}
            <div
              class="link"
              [routerLink]="['/artist', album.artist]"
              (click)="$event.stopPropagation()"
            >
              {{ album.artist }}
            </div>
          </div>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    <div class="no_content" *ngIf="!albums.length">
      <h1>No added albums in library</h1>
    </div>
  </mat-tab>
  <mat-tab label="Artists">
    <mat-grid-list cols="4" rowHeight="5:4">
      <mat-grid-tile id="artist" *ngFor="let artist of artists">
        <mat-card
          [routerLink]="['/artist', artist.name]"
          (contextmenu)="onContextMenu($event, artist.name, 'artists')"
        >
          <img
            [src]="images.get(artist.logo) | safeResourceUrl"
            alt="Artist Logo"
          />
          <div class="title">{{ artist.name }}</div>
        </mat-card>
      </mat-grid-tile>
      <div class="no_content" *ngIf="!artists.length">
        <h1>No added artists in library</h1>
      </div>
    </mat-grid-list>
  </mat-tab>
  <mat-tab label="Songs">
    <mat-grid-list cols="4" rowHeight="5:4">
      <mat-grid-tile id="song" *ngFor="let song of songs" id="song">
        <mat-card (contextmenu)="onContextMenu($event, song.id, 'songs')">
          <img
            [src]="images.get(song.cover) | safeResourceUrl"
            alt="Song Cover"
          />
          <div class="song_image_content">
            <button mat-fab color="basic" #play_button>
              <mat-icon>play_arrow</mat-icon>
            </button>
          </div>
          <div class="title">
            {{ song.name }}
            <div class="link" [routerLink]="['/artist', song.artist]">
              {{ song.artist }}
            </div>
          </div>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    <div class="no_content" *ngIf="!songs.length">
      <h1>No added songs in library</h1>
    </div>
  </mat-tab>
</mat-tab-group>
<div
  class="context_menu_trigger"
  [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y"
  [matMenuTriggerFor]="contextMenu"
></div>
<mat-menu #contextMenu="matMenu" class="context_menu">
  <ng-template matMenuContent let-id="id" let-type="type">
    <button
      mat-menu-item
      (click)="playSong(id)"
      *ngIf="type === 'songs'; else album"
    >
      Play song
    </button>
    <ng-template #album>
      <ng-container *ngIf="type === 'albums'; else artist">
        <button mat-menu-item [routerLink]="['/album', id]">Go to album</button>
      </ng-container>
    </ng-template>
    <ng-template #artist>
      <ng-container *ngIf="type === 'artists'; else playlist">
        <button mat-menu-item [routerLink]="['/artist', id]">
          Go to artist
        </button>
      </ng-container>
    </ng-template>
    <ng-template #playlist>
      <button mat-menu-item [routerLink]="['/playlist', id]">
        Go to playlist
      </button>
    </ng-template>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="addToQueue([id])" *ngIf="type === 'songs'">
      Add to queue
    </button>
    <button
      mat-menu-item
      (click)="removeFromLibrary([id], type)"
      *ngIf="type !== 'playlists' || !isUserPlaylist(id); else userPlaylist"
    >
      Remove from library
    </button>
    <ng-template #userPlaylist>
      <button mat-menu-item (click)="removePlaylist(id)">
        Delete playlist
      </button>
    </ng-template>
    <button
      mat-menu-item
      [matMenuTriggerFor]="playlistsMenu"
      *ngIf="type === 'songs'"
    >
      Add to playlist
    </button>
    <mat-menu #playlistsMenu="matMenu" class="subcontext_menu">
      <div class="playlist_header">Playlists</div>
      <mat-divider></mat-divider>
      <button
        class="add_to_playlist"
        title="{{ playlist.name }}"
        mat-menu-item
        *ngFor="let playlist of user_playlists"
        (click)="addToPlaylist(playlist.id, id)"
      >
        <mat-icon>queue_music</mat-icon>
        <div>
          {{ playlist.name }}
        </div>
      </button>
    </mat-menu>
  </ng-template>
</mat-menu>
