mat-card {
  width: 90%;
  height: 80%;
}

mat-card:hover {
  box-shadow: 1px 5px 10px grey;
  cursor: pointer;
}

img {
  width: 100%;
  height: 90%;
  border-radius: 2%;
  object-fit: cover;
}

.title {
  text-align: center;
}

.no_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3%;
}

.no_content h1 {
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
