<mat-tab-group mat-stretch-tabs [@.disabled]="true">
  <mat-tab label="Playlists">
    <mat-grid-list cols="4" rowHeight="5:4">
      <mat-grid-tile *ngFor="let playlist of playlists" (click)="goToPlaylist(playlist)">
        <mat-card>
          <img
            [src]="images.get(playlist.cover) | safeResourceUrl"
            alt="Playlist Cover"
          />
          <div class="title">{{ playlist.name }}</div>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
  <mat-tab label="Albums">
    <mat-grid-list cols="4" rowHeight="5:4">
      <mat-grid-tile *ngFor="let album of albums">
        <mat-card (click)="goToAlbum(album)">
          <img
            [src]="images.get(album.cover) | safeResourceUrl"
            alt="Album Cover"
          />
          <div class="title">{{ album.name }}</div>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
  <mat-tab label="Artists">
    <mat-grid-list cols="4" rowHeight="5:4">
      <mat-grid-tile *ngFor="let artist of artists" (click)="goToArtist(artist)">
        <mat-card>
          <img
            [src]="images.get(artist.logo) | safeResourceUrl"
            alt="Artist Logo"
          />
          <div class="title">{{ artist.name }}</div>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
  <mat-tab label="Songs">
    <mat-grid-list cols="4" rowHeight="5:4">
      <mat-grid-tile *ngFor="let song of songs">
        <mat-card>
          <img
            [src]="images.get(song.cover) | safeResourceUrl"
            alt="Song Cover"
          />
          <div class="title">{{ song.name }}</div>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
</mat-tab-group>
