<mat-list>
  <div class="user_data">
    <div class="avatar">
      <mat-card>
        <div class="profilepic">
          <img
            class="profilepic_image"
            [src]="images.get(user.avatar) | safeResourceUrl"
            alt="User Avatar"
          />
          <div class="profilepic_content">
            <mat-icon mat-list-icon>photo_camera</mat-icon>
            <span class="profilepic_text">Change Avatar</span>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="text">
      <h1>{{ username }}</h1>
      <div class="text_element">
        <mat-icon>flag</mat-icon>
        <div>{{ user.country }}</div>
      </div>
      <div class="text_element">
        <mat-icon>today</mat-icon>
        <div *ngIf="user_join_time">Joined {{ user_join_time }} ago</div>
        <div *ngIf="!user_join_time">Joined today</div>
      </div>
      <div class="text_element">
        <mat-icon>cake</mat-icon>
        <div *ngIf="user_birthday_days">
          Birthday in {{ user_birthday_days }} days
        </div>
        <div *ngIf="!user_birthday_days">Happy Birthday!</div>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="playlists">
    <h1 class="header">User Playlists</h1>
    <mat-nav-list class="list-horizontal">
      <div scrollable id="playlist" *ngFor="let playlist of playlists">
        <mat-card [routerLink]="['/playlist', playlist.id]">
          <img
            [src]="images.get(playlist.cover) | safeResourceUrl"
            alt="Playlist Cover"
          />
          <div class="title">{{ playlist.name }}</div>
        </mat-card>
      </div>
    </mat-nav-list>
    <div class="no_content" *ngIf="!playlists.length">
      <h1>Add some playlists</h1>
      <button mat-mini-fab color="basic">
        <mat-icon>playlist_add</mat-icon>
      </button>
    </div>
    <div class="scroll">
      <button
        mat-mini-fab
        color="basic"
        (click)="scrollLeft(playlist_scroll)"
        disabled="playlists.length > 6"
      >
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button
        mat-mini-fab
        color="basic"
        (click)="scrollRight(playlist_scroll)"
        disabled="playlists.length > 6"
      >
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="top_list">
    <div>
      <h1>Top Songs</h1>
      <div class="top_content" *ngFor="let topSong of topSongs; let i = index">
        <mat-card>
          <div
            class="top_place"
            *ngIf="
              i == 0 ||
                songCount[topSongs[i].id] != songCount[topSongs[i - 1].id];
              else equalSong
            "
          >
            {{ i + 1 }}.
          </div>
          <ng-template #equalSong>
            <label class="top_place">=</label>
          </ng-template>
          <div class="top_image">
            <img
              [src]="images.get(topSong.cover) | safeResourceUrl"
              alt="Song Cover"
            />
          </div>
          <div class="top_title">
            {{ topSong.name }}
            <div>{{ topSong.artist }}</div>
          </div>
          <div class="listening_number">
            <h1>{{ songCount[topSong.id] }}</h1>
            listenings
          </div>
        </mat-card>
      </div>
      <div class="no_content" *ngIf="!topSongs.length">
        <h1>No data to show</h1>
      </div>
    </div>
    <div>
      <h1>Top Artists</h1>
      <div
        class="top_content"
        *ngFor="let topArtist of topArtists; let i = index"
      >
        <mat-card [routerLink]="['/artist', topArtist.name]">
          <div
            class="top_place"
            *ngIf="
              i == 0 ||
                artistCount[topArtists[i].name] !=
                  artistCount[topArtists[i - 1].name];
              else equalArtist
            "
          >
            {{ i + 1 }}.
          </div>
          <ng-template #equalArtist>
            <label class="top_place">=</label>
          </ng-template>
          <div class="top_image">
            <img
              [src]="images.get(topArtist.logo) | safeResourceUrl"
              alt="Artist Logo"
            />
          </div>
          <div class="top_title">{{ topArtist.name }}</div>
          <div class="listening_number">
            <h1>{{ artistCount[topArtist.name] }}</h1>
            listenings
          </div>
        </mat-card>
      </div>
      <div class="no_content" *ngIf="!topArtists.length">
        <h1>No data to show</h1>
      </div>
    </div>
  </div>
</mat-list>
