mat-nav-list.list-horizontal {
  display: flex;
  overflow: auto;
}

mat-nav-list.list-horizontal::-webkit-scrollbar {
  display: none;
}

mat-nav-list.list-horizontal div {
  flex: 0 0 calc(100% / 6);
  text-align: center;
  box-sizing: border-box;
  padding: 0 0 0 1%;
}

mat-card {
  width: 80%;
  height: 75%;
}

.playlists mat-card:hover {
  box-shadow: 1px 5px 10px grey;
  cursor: pointer;
}

.scroll {
  padding: 0 1% 1% 1%;
  display: flex;
  justify-content: space-between;
}

.scroll mat-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playlists img {
  width: 100%;
  height: 90%;
  border-radius: 2%;
  object-fit: cover;
}

.title {
  text-align: center;
  font-weight: 500;
}

.header {
  margin: 1% 0 1% 2%;
}

.user_data {
  display: flex;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.text {
  box-sizing: border-box;
  width: 25%;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5%;
}

.text div {
  padding: 1%;
}

.text_element {
  display: inline-flex;
  align-items: center;
  font-size: 0.8vw;
}

.type {
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.6vw;
  font-weight: 500;
  opacity: 0.6;
}

.text h1 {
  font-size: 3vw;
  font-weight: 750;
  padding-bottom: 5%;
}

.avatar {
  box-sizing: border-box;
  padding: 2%;
  display: flex;
  align-items: center;
}

.avatar mat-card {
  width: 13vw;
  height: 100%;
}

.profilepic_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.profilepic:hover .profilepic_content {
  opacity: 0.8;
}

.profilepic:hover .profilepic_image {
  opacity: 0.4;
}

.profilepic {
  position: relative;
  width: 100%;
  height: 100%;
}

.profilepic_content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  background-color: #111;
}

.profilepic_text {
  text-transform: uppercase;
  font-size: 0.8vw;
  width: 50%;
  text-align: center;
}

.user_data mat-icon {
  font-size: 1vw;
  transform: scale(1.1);
  display: inline-flex;
  align-items: center;
}

.top_list {
  display: flex;
  padding: 2%;
}

.top_list h1 {
  margin: 2% 0 2% 0;
}

.top_list div {
  flex: 0 0 calc(100% / 2);
  text-align: center;
}

.top_image {
  max-width: 35%;
  position: relative;
  display: inline-block;
}

.top_image img {
  width: 50%;
  height: 100%;
  border-radius: 2%;
  object-fit: cover;
  padding: 3%;
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

#song:hover img {
  opacity: 0.6;
}

#song:hover .top_image_content {
  opacity: 1;
}

.top_image_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.2s ease;
}

.top_image_content mat-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top_list mat-card:hover {
  box-shadow: 1px 5px 10px grey;
  cursor: pointer;
}

.top_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

.top_content mat-card {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top_place {
  max-width: 2%;
  font-weight: 500;
  font-size: 15px;
}

.top_title {
  max-width: 30%;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}

.top_title div {
  font-style: italic;
  font-weight: 400;
  margin-top: 2%;
}

.listening_number {
  max-width: 30%;
}

.listening_number h1 {
  font-weight: 500;
}

.no_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3%;
}

.no_content h1 {
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no_content mat-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
