mat-nav-list.list-horizontal {
  display: flex;
  overflow: auto;
  padding-bottom: 12px;
}

mat-nav-list.list-horizontal::-webkit-scrollbar {
  display: none;
}

mat-nav-list.list-horizontal div {
  flex: 0 0 calc(100% / 6);
  box-sizing: border-box;
  padding: 0 calc(14px + 0.2vw) 0 calc(6px + 0.5vw);
}

.playlists mat-card {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#playlist mat-card:hover {
  box-shadow: 1px 5px 10px grey;
  cursor: pointer;
}

.scroll {
  padding: 0 12px 12px 12px;
  display: flex;
  justify-content: space-between;
}

.scroll mat-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

#playlist img {
  width: 100%;
  height: 85%;
  border-radius: 2%;
  object-fit: cover;
  width: calc(200px + 3vw);
}

.title {
  width: 100%;
  height: 15%;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.header {
  margin: 1% 0 1% 2%;
}

.user_data {
  display: flex;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.user_data mat-icon {
  display: flex;
  align-items: center;
  font-size: calc(12px + 0.4vw);
}

.text {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5%;
}

.text div {
  display: flex;
  align-items: center;
  padding: 0.5%;
}

.text_element {
  display: flex;
  align-items: center;
  font-size: calc(8px + 0.4vw);
}

.type {
  text-transform: uppercase;
  font-size: calc(8px + 0.1vw);
  font-weight: 500;
  opacity: 0.6;
}

.text h1 {
  font-size: calc(16px + 2vw);
  max-width: 40vw;
  line-height: calc(10px + 2vw);
  word-wrap: break-word;
  font-weight: 750;
  padding-bottom: 1%;
  margin-left: 0;
}

.avatar {
  box-sizing: border-box;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: right;
  width: 50%;
}

.avatar mat-card {
  width: calc(100px + 8vw);
  height: calc(100px + 8vw);
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.avatar mat-icon {
  justify-content: center;
}

.top_list {
  display: flex;
  padding: 2%;
}

.top_list h1 {
  margin: 2% 0 2% 0;
}

.top_list div {
  flex: 0 0 calc(100% / 2);
  text-align: center;
}

.top_image {
  max-width: 35%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top_image img {
  width: calc(20px + 3vw);
  height: 100%;
  border-radius: 2%;
  object-fit: cover;
  padding: 3%;
  opacity: 1;
  backface-visibility: hidden;
}

#song mat-card:hover img {
  opacity: 0.6;
}

#song mat-card:hover .top_image_content {
  opacity: 1;
  transition: 0.4s ease;
}

.top_image_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.2s ease;
}

.top_image_content mat-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(4px + 0.9vw);
}

.top_image_content button {
  width: 2vw;
  height: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top_list mat-card:hover {
  box-shadow: 1px 5px 10px grey;
}

#artist mat-card:hover {
  cursor: pointer;
}

.top_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

.top_content mat-card {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top_place {
  max-width: 2%;
  font-weight: 500;
  font-size: 15px;
}

.top_title {
  max-width: 30%;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}

.top_title div {
  font-style: italic;
  font-weight: 400;
  margin-top: 2%;
}

.listening_number {
  max-width: 30%;
}

.listening_number h1 {
  font-weight: 500;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.no_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3%;
}

.no_content h1 {
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no_content mat-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.context_menu_trigger {
  visibility: hidden;
  position: fixed;
}

::ng-deep.mat-menu-panel.context_menu {
  width: 220px;
}

::ng-deep.mat-menu-panel.subcontext_menu {
  width: 160px;
  margin-left: 2%;
}

.playlist_header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  font-size: 14px;
}

.add_to_playlist {
  display: flex;
  align-items: center;
}

.add_to_playlist div {
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 80px;
}

.add_to_playlist mat-icon {
  transform: scale(0.95);
}

.user_buttons {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
}

.user_buttons div {
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit_user {
  margin: calc(10px + 2vw) 0 calc(10px + 0.5vw) calc(10px + 2.5vw);
}

.edit_user mat-icon {
  transform: scale(2);
  opacity: 0.9;
}

.edit_user mat-icon:hover {
  cursor: pointer;
  opacity: 1;
  scale: 1.8;
  transform: rotate(120deg);
  transition: all 0.6s ease-in-out;
}
