<h2 mat-dialog-title>Edit User</h2>
<form [formGroup]="updateForm" (submit)="updateUser()">
  <div class="edit_form">
    <img
      id="user_avatar"
      [src]="user_avatar | safeResourceUrl"
      alt="User Avatar"
    />
    <div class="change_avatar">
      <button type="button" mat-raised-button (click)="fileInput.click()">
        Change User Avatar
      </button>
      <input
        hidden
        (change)="onFileSelected($event)"
        #fileInput
        type="file"
        id="file"
        accept=".jpg, .jpeg, .png"
      />
    </div>
    <mat-form-field appearance="fill">
      <mat-label>User Name</mat-label>
      <input matInput #input maxlength="50" formControlName="name" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Select</mat-label>
      <mat-select>
        <mat-option *ngFor="let country of countries">{{
          country.name
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="action">
      <button type="submit" mat-raised-button [mat-dialog-close]="true">
        Update
      </button>
      <div class="spacer"></div>
      <button type="button" mat-raised-button (click)="resetForm()">
        Reset
      </button>
    </div>
  </div>
</form>
