<h2 mat-dialog-title>Edit User</h2>
<form [formGroup]="updateForm" (submit)="updateUser()" *ngIf="user">
  <div class="edit_form">
    <img
      id="user_avatar"
      [src]="user_avatar | safeResourceUrl"
      alt="User Avatar"
    />
    <div class="change_avatar">
      <button type="button" mat-raised-button (click)="fileInput.click()">
        Change User Avatar
      </button>
      <input
        hidden
        (change)="onFileSelected($event)"
        #fileInput
        type="file"
        id="file"
        accept=".jpg, .jpeg, .png"
      />
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Date of birth</mat-label>
      <input matInput [type]="'date'" formControlName="birth_date" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Country</mat-label>
      <mat-select matInput formControlName="country">
        <mat-option [value]="country.name" *ngFor="let country of countries">
          {{ country.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="action">
      <button type="submit" mat-raised-button>Update</button>
      <div class="spacer"></div>
      <button type="button" mat-raised-button (click)="resetForm()">
        Reset
      </button>
    </div>
  </div>
</form>
