<mat-list>
  <h1>Songs</h1>
  <mat-nav-list class="list-horizontal">
    <div scrollable id="song" *ngFor="let song of songs">
      <mat-card>
        <div class="song_image">
          <img
            [src]="images.get(song.cover) | safeResourceUrl"
            alt="Song Cover"
          />
          <div class="song_image_content">
            <button mat-fab color="basic" #play_button>
              <mat-icon>play_arrow</mat-icon>
            </button>
          </div>
        </div>
        <div class="title">
          {{ song.name }}
          <div class="link" [routerLink]="['/artist', song.artist]">
            {{ song.artist }}
          </div>
        </div>
      </mat-card>
    </div>
  </mat-nav-list>
  <div class="scroll">
    <button mat-mini-fab color="basic" (click)="scrollLeft(song_scroll)">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button mat-mini-fab color="basic" (click)="scrollRight(song_scroll)">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <h1>Albums</h1>
  <mat-nav-list class="list-horizontal">
    <div
      scrollable
      id="album"
      *ngFor="let album of albums"
      [routerLink]="['/album', album.id]"
    >
      <mat-card>
        <img
          [src]="images.get(album.cover) | safeResourceUrl"
          alt="Album Cover"
        />
        <div class="title">
          {{ album.name }}
          <div
            class="link"
            [routerLink]="['/artist', album.artist]"
            (click)="$event.stopPropagation()"
          >
            {{ album.artist }}
          </div>
        </div>
      </mat-card>
    </div>
  </mat-nav-list>
  <div class="scroll">
    <button mat-mini-fab color="basic" (click)="scrollLeft(album_scroll)">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button mat-mini-fab color="basic" (click)="scrollRight(album_scroll)">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <h1>Artists</h1>
  <mat-nav-list class="list-horizontal">
    <div
      scrollable
      id="artist"
      *ngFor="let artist of artists"
      [routerLink]="['/artist', artist.name]"
    >
      <mat-card>
        <img
          [src]="images.get(artist.logo) | safeResourceUrl"
          alt="Artist Logo"
        />
        <div class="title">{{ artist.name }}</div>
      </mat-card>
    </div>
  </mat-nav-list>
  <div class="scroll">
    <button mat-mini-fab color="basic" (click)="scrollLeft(artist_scroll)">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button mat-mini-fab color="basic" (click)="scrollRight(artist_scroll)">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</mat-list>
