<mat-list>
  <h1>Songs</h1>
  <mat-nav-list class="list-horizontal">
    <a mat-list-item scrollable id="song" *ngFor="let song of songs">
      <figure class="link">
        <img
          [src]="images.get(song.cover) | safeResourceUrl"
          alt="Song Cover"
        />
        <figcaption>{{ song.name }}</figcaption>
      </figure>
    </a>
  </mat-nav-list>
  <div class="scroll">
    <button mat-mini-fab color="basic" (click)="scrollLeft(song_scroll)">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button mat-mini-fab color="basic" (click)="scrollRight(song_scroll)">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <h1>Albums</h1>
  <mat-nav-list class="list-horizontal">
    <a
      mat-list-item
      scrollable
      id="album"
      *ngFor="let album of albums"
      (click)="goToAlbum(album)"
    >
      <figure class="link">
        <img
          [src]="images.get(album.cover) | safeResourceUrl"
          alt="Album Cover"
        />
        <figcaption>{{ album.name }}</figcaption>
      </figure>
    </a>
  </mat-nav-list>
  <div class="scroll">
    <button mat-mini-fab color="basic" (click)="scrollLeft(album_scroll)">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button mat-mini-fab color="basic" (click)="scrollRight(album_scroll)">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <h1>Artists</h1>
  <mat-nav-list class="list-horizontal">
    <a mat-list-item scrollable id="artist" *ngFor="let artist of artists">
      <figure class="link">
        <img
          [src]="images.get(artist.logo) | safeResourceUrl"
          alt="Artist Logo"
        />
        <figcaption>{{ artist.name }}</figcaption>
      </figure>
    </a>
  </mat-nav-list>
  <div class="scroll">
    <button mat-mini-fab color="basic" (click)="scrollLeft(artist_scroll)">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button mat-mini-fab color="basic" (click)="scrollRight(artist_scroll)">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</mat-list>
