<!-- <form class="form-signin" [formGroup]='registerForm' (submit)="register()">
  <h1 class="h3 mb-3 fw-normal">Register</h1>
  <div class="form-floating">
    <input class="form-control" id="floatingInput" formControlName="username">
    <label for="floatingInput">Username</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" id="floatingPassword" formControlName="password">
    <label for="floatingPassword">Password</label>
  </div>
  <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
  <br>
  <br>
  <div *ngIf="success" style="color: green;">Registration Successful!! Please <a routerLink="/login" [attr.disabled]="!registerForm.valid">Login</a></div>
  <p *ngIf="errMessage" class="alert alert-danger alert-dismissible fade show">{{errMessage}}</p>
</form> -->

<form [formGroup]='registerForm' (submit)="register()">
<div class="register">
  <div class="registerbox">
    <p>Register</p>
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Date of birth</mat-label>
      <input matInput [type]="'date'" formControlName="birth_date">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Country</mat-label>
      <input matInput formControlName="country">
    </mat-form-field>
    <section>
      <div class="example-button-row">
        <button mat-raised-button type="submit" class="submit">Register</button>
      </div>
    </section>
    <a *ngIf="!success" routerLink="/login">Log in</a>
    <div *ngIf="success" style="color: green;">Registration Successful!! Please <a routerLink="/login" [attr.disabled]="!registerForm.valid">Log in</a></div>
    <p *ngIf="errMessage" class="alert alert-danger alert-dismissible fade show">{{errMessage}}</p>
  </div>
</div>
</form>
