<mat-list>
  <div class="playlist_data">
    <div class="cover">
      <mat-card>
        <img
          [src]="images.get(playlist.cover) | safeResourceUrl"
          alt="Playlist Cover"
        />
      </mat-card>
    </div>
    <div class="text">
      <h1>{{ playlist.name }}</h1>
      <div class="type">Playlist</div>
      <div class="creator">By {{ playlist.user }}</div>
      <div class="size">
        <mat-icon>library_music</mat-icon>
        <ng-container *ngIf="playlist_songs.length > 0; else empty">
          {{ playlist_songs.length }}
          song<ng-container *ngIf="playlist_songs.length > 1">s</ng-container>
        </ng-container>
        <ng-template #empty>Empty</ng-template>
      </div>
      <div class="time">
        <mat-icon>access_time</mat-icon>
        {{ secondsToHms(playlist.length) }}
      </div>
    </div>
  </div>
  <div class="playlist_buttons">
    <div class="play_playlist">
      <button
        mat-fab
        color="basic"
        #play_button
        (click)="playSong(playlist_songs[0].id)"
      >
        <mat-icon>play_arrow</mat-icon>
      </button>
    </div>
    <div class="edit_playlist" *ngIf="isUserPlaylist">
      <mat-icon matTooltip="Edit playlist" (click)="openDialog()"
        >settings</mat-icon
      >
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="songs">
    <div class="description">
      <div class="place">#</div>
      <div class="song_image"></div>
      <div class="title">Title</div>
      <div class="album">Album</div>
      <div class="artist">Artist</div>
      <div class="genre">Genres</div>
      <div class="length">Length</div>
    </div>
    <mat-divider></mat-divider>
    <mat-nav-list class="list-vertical">
      <div id="song" *ngFor="let song of playlist_songs; let i = index">
        <mat-card (contextmenu)="onContextMenu($event, song.id, 'songs')">
          <div class="place">{{ i + 1 }}.</div>
          <div class="song_image">
            <img
              [src]="images.get(song.cover) | safeResourceUrl"
              alt="Song Cover"
            />
            <div class="song_image_content">
              <button
                mat-mini-fab
                color="basic"
                #play_button
                (click)="playSong(song.id)"
              >
                <mat-icon>play_arrow</mat-icon>
              </button>
            </div>
          </div>
          <div class="title">
            {{ song.name }}
          </div>
          <div class="album">
            <div
              class="link"
              [routerLink]="['/album', playlist_songs_albums.get(song.id)?.id]"
            >
              {{ song.album }}
            </div>
          </div>
          <div class="artist">
            <div class="link" [routerLink]="['/artist', song.artist]">
              {{ song.artist }}
            </div>
          </div>
          <div class="genre">
            {{ song.genres.join(", ") }}
          </div>
          <div class="length">{{ fancyTimeFormat(song.length) }}</div>
        </mat-card>
      </div>
    </mat-nav-list>
    <div class="no_content" *ngIf="!playlist_songs.length">
      <h1>Add some songs</h1>
      <button mat-mini-fab color="basic">
        <mat-icon>playlist_add</mat-icon>
      </button>
    </div>
  </div>
</mat-list>
<div
  class="context_menu_trigger"
  [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y"
  [matMenuTriggerFor]="contextMenu"
></div>
<mat-menu #contextMenu="matMenu" class="context_menu">
  <ng-template matMenuContent let-id="id" let-type="type">
    <button
      mat-menu-item
      (click)="playSong(id)"
      *ngIf="type === 'songs'; else album"
    >
      Play song
    </button>
    <ng-template #album>
      <button mat-menu-item [routerLink]="['/album', id]">Go to album</button>
    </ng-template>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="addToQueue([id])" *ngIf="type === 'songs'">
      Add to queue
    </button>
    <button
      mat-menu-item
      (click)="removeFromLibrary([id], type)"
      *ngIf="elementInLibrary.get(id); else notInLibrary"
    >
      Remove from library
    </button>
    <ng-template #notInLibrary>
      <button mat-menu-item (click)="addToLibrary([id], type)">
        Add to library
      </button>
    </ng-template>
    <button
      mat-menu-item
      [matMenuTriggerFor]="playlistsMenu"
      *ngIf="type === 'songs'"
    >
      Add to playlist
    </button>
    <mat-menu #playlistsMenu="matMenu" class="subcontext_menu">
      <div class="playlist_header">Playlists</div>
      <mat-divider></mat-divider>
      <button
        class="add_to_playlist"
        title="{{ playlist.name }}"
        mat-menu-item
        *ngFor="let playlist of user_playlists"
        (click)="addToPlaylist(playlist.id, id)"
      >
        <mat-icon>queue_music</mat-icon>
        <div>
          {{ playlist.name }}
        </div>
      </button>
    </mat-menu>
  </ng-template>
</mat-menu>
