<mat-list>
  <div class="playlist_data">
    <div class="cover">
      <mat-card>
        <img [src]="cover | safeResourceUrl" alt="Playlist Cover" />
      </mat-card>
    </div>
    <div class="text">
      <h1>{{ playlist.name }}</h1>
      <div class="type">Playlist</div>
      <div class="creator">By {{ playlist.user }}</div>
      <div class="size">
        <mat-icon>library_music</mat-icon>
        {{ playlist_songs.length }} songs
      </div>
      <div class="time">
        <mat-icon>access_time</mat-icon>
        {{ secondsToHms(playlist.length) }}
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
</mat-list>
