<mat-list>
  <div class="artist_data">
    <div class="cover">
      <mat-card>
        <img
          [src]="images.get(artist.logo) | safeResourceUrl"
          alt="Artist Cover"
        />
      </mat-card>
    </div>
    <div class="text">
      <h1>{{ artist.name }}</h1>
      <div class="type">Artist</div>
      <div class="album_nr">
        <mat-icon>album</mat-icon>
        {{ albums.length }}
        album<ng-container *ngIf="albums.length > 1">s</ng-container>
      </div>
      <div class="song_nr">
        <mat-icon>library_music</mat-icon>
        {{ songs.length }}
        song<ng-container *ngIf="songs.length > 1">s</ng-container>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <h1>Albums</h1>
  <mat-nav-list class="list-horizontal">
    <div
      scrollable
      id="album"
      *ngFor="let album of albums"
      [routerLink]="['/album', album.id]"
    >
      <mat-card>
        <img
          [src]="images.get(album.cover) | safeResourceUrl"
          alt="Album Cover"
        />
        <div class="title">{{ album.name }}</div>
      </mat-card>
    </div>
  </mat-nav-list>
  <div class="scroll">
    <button
      mat-mini-fab
      color="basic"
      (click)="scrollLeft(album_scroll)"
      [disabled]="albums.length <= 6"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button
      mat-mini-fab
      color="basic"
      (click)="scrollRight(album_scroll)"
      [disabled]="albums.length <= 6"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <h1>Songs</h1>
  <mat-nav-list class="list-horizontal">
    <div scrollable id="song" *ngFor="let song of songs">
      <mat-card>
        <div class="song_image">
          <img
            [src]="images.get(song.cover) | safeResourceUrl"
            alt="Song Cover"
          />
          <div class="song_image_content">
            <button mat-fab color="basic" #play_button>
              <mat-icon>play_arrow</mat-icon>
            </button>
          </div>
        </div>
        <div class="title">
          {{ song.name }}
          <div>{{ song.listenings }} listenings</div>
        </div>
      </mat-card>
    </div>
  </mat-nav-list>
  <div class="scroll">
    <button
      mat-mini-fab
      color="basic"
      (click)="scrollLeft(song_scroll)"
      [disabled]="songs.length <= 6"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button
      mat-mini-fab
      color="basic"
      (click)="scrollRight(song_scroll)"
      [disabled]="songs.length <= 6"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</mat-list>
