mat-nav-list.list-horizontal {
  display: flex;
  overflow: auto;
}

mat-nav-list.list-horizontal::-webkit-scrollbar {
  display: none;
}

mat-nav-list.list-horizontal div {
  flex: 0 0 calc(100% / 6);
  text-align: center;
  box-sizing: border-box;
  padding: 0 1%;
}

mat-card {
  width: 90%;
  height: 80%;
}

.list-horizontal mat-card:hover {
  box-shadow: 1px 5px 10px grey;
  cursor: pointer;
}

.scroll {
  padding: 0 1% 1% 1%;
  display: flex;
  justify-content: space-between;
}

h1 {
  margin: 1% 0 1% 2%;
}

#album img {
  width: 100%;
  height: 85%;
  border-radius: 2%;
  object-fit: cover;
}

.title {
  width: 100%;
  height: 15%;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.artist_data {
  display: flex;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.text {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5%;
}

.text h1 {
  font-size: 3vw;
  font-weight: 750;
  padding-bottom: 1%;
  margin-left: 0;
}

.text div {
  display: flex;
  align-items: center;
  padding: 0.5%;
}

.type {
  text-transform: uppercase;
  font-size: 0.6vw;
  font-weight: 500;
  opacity: 0.6;
}

.song_nr,
.album_nr {
  display: flex;
  align-items: center;
  font-size: 0.8vw;
}

mat-icon {
  display: flex;
  align-items: center;
  font-size: 1vw;
  transform: scale(1.1);
}

.cover {
  width: 50%;
  box-sizing: border-box;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.cover mat-card {
  width: 13vw;
  height: 100%;
}

.cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.song_image {
  width: 100%;
  height: 85%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.song_image img {
  width: 100%;
  height: 100%;
  border-radius: 2%;
  object-fit: cover;
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

#song:hover img {
  opacity: 0.6;
}

#song:hover .song_image_content {
  opacity: 1;
}

.song_image_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.2s ease;
}

.song_image_content mat-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

#song .title {
  margin-top: 2%;
}

.title div {
  font-style: italic;
  font-weight: 400;
}
