mat-sidenav-container {
  height: 100vh;
}
mat-sidenav-container mat-sidenav mat-nav-list .menu-item {
  margin-left: 8px;
}
mat-sidenav-container mat-sidenav mat-nav-list .chevron-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
mat-sidenav-container mat-sidenav mat-nav-list .chevron-button.rotated {
  transform: rotate(180deg);
}

.playlist_header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
  font-size: 16px;
}

.nav_playlist div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 14px;
}

.nav_playlist mat-icon {
  padding: 8px;
}

.logo {
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-spacer {
  flex: 1 1 auto;
}

.avatar_div {
  padding: 6%;
  float: right;
  width: 10%;
}

.avatar_div img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.avatar_div img:hover {
  box-shadow: 1px 5px 10px grey;
  cursor: pointer;
}

.menu_avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.menu_avatar div {
  display: inline-block;
  width: 80%;
  padding: 5%;
}

.menu_avatar img {
  width: 25%;
  border-radius: 50%;
  object-fit: cover;
  padding: 5%;
}
