<mat-sidenav-container autosize>
  <mat-sidenav
    #sidenav
    mode="side"
    opened="isExpanded"
    (keydown.escape)="isExpanded = false"
    disableClose
    role="navigation"
  >
    <mat-nav-list class="inline-list">
      <div class="logo" [routerLink]="'home'">
        <mat-icon mat-list-icon class="logo"> music_note </mat-icon>
      </div>

      <mat-list-item (click)="isExpanded = !isExpanded">
        <mat-icon
          mat-list-icon
          class="chevron-button"
          [ngClass]="{ rotated: isExpanded }"
        >
          chevron_right
        </mat-icon>
      </mat-list-item>

      <mat-list-item [routerLink]="'home'">
        <mat-icon mat-list-icon>home</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Home</span>
      </mat-list-item>

      <mat-list-item [routerLink]="'explore'">
        <mat-icon mat-list-icon>explore</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Explore</span>
      </mat-list-item>

      <mat-list-item [routerLink]="['user', username]">
        <mat-icon mat-list-icon>account_circle_icon</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">User Profile</span>
      </mat-list-item>
    </mat-nav-list>
    <mat-nav-list *ngIf="isExpanded">
      <mat-divider></mat-divider>
      <div class="playlist_header">Playlists</div>
      <mat-divider></mat-divider>
      <mat-list-item
        *ngFor="let playlist of playlists"
        class="nav_playlist"
        (click)="goToPlaylist(playlist)"
      >
        <mat-icon>queue_music</mat-icon>
        <div title="{{ playlist.name }}">
          {{ playlist.name }}
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content role="main">
    <mat-toolbar>
      <mat-form-field>
        <input type="tel" matInput placeholder="Search" />
      </mat-form-field>
      <span class="example-spacer"></span>
      <mat-list-item>
        <div class="avatar_div">
          <img
            [src]="avatar | safeResourceUrl"
            alt="User Avatar"
            [matMenuTriggerFor]="menu"
          />
        </div>
      </mat-list-item>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #menu="matMenu">
  <div class="menu_avatar">
    <img [src]="avatar | safeResourceUrl" alt="User Avatar" />
    <div>{{ username }}</div>
  </div>
  <mat-divider></mat-divider>
  <button mat-menu-item [routerLink]="['user', username]">Profile</button>
  <button mat-menu-item (click)="logout()">Log out</button>
</mat-menu>
