<mat-sidenav-container autosize>
  <mat-sidenav
    #sidenav
    mode="side"
    opened="isExpanded"
    (keydown.escape)="isExpanded = false"
    disableClose
    role="navigation"
  >
    <mat-nav-list class="inline-list">
      <div class="logo" [routerLink]="'home'">
        <mat-icon mat-list-icon class="logo"> music_note </mat-icon>
      </div>

      <mat-list-item (click)="isExpanded = !isExpanded">
        <mat-icon
          mat-list-icon
          class="chevron-button"
          [ngClass]="{ rotated: isExpanded }"
        >
          chevron_right
        </mat-icon>
      </mat-list-item>

      <mat-list-item [routerLink]="'home'">
        <mat-icon mat-list-icon>home</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Library</span>
      </mat-list-item>

      <mat-list-item [routerLink]="'explore'">
        <mat-icon mat-list-icon>explore</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Explore</span>
      </mat-list-item>

      <mat-list-item [routerLink]="['user', username]">
        <mat-icon mat-list-icon>account_circle_icon</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">User Profile</span>
      </mat-list-item>
    </mat-nav-list>
    <mat-nav-list *ngIf="isExpanded">
      <mat-divider></mat-divider>
      <div class="playlist_header">Playlists</div>
      <mat-divider></mat-divider>
      <mat-list-item
        *ngFor="let playlist of playlists"
        class="nav_playlist"
        (click)="goToPlaylist(playlist)"
      >
        <mat-icon>queue_music</mat-icon>
        <div matTooltip="{{ playlist.name }}">
          {{ playlist.name }}
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content role="main">
    <mat-toolbar class="search">
      <form [formGroup]="searchForm">
        <mat-form-field floatLabel="never" id="search">
          <input
            type="search"
            matInput
            formControlName="content"
            [matAutocomplete]="auto"
            maxlength="50"
          />
          <mat-placeholder class="placeholder">Search...</mat-placeholder>
          <mat-autocomplete
            autoActiveFirstOption
            #auto="matAutocomplete"
            class="autocomplete"
            (optionSelected)="clickOption($event)"
          >
            <ng-container *ngIf="searchResult">
              <mat-option *ngIf="noResults()"> No results found </mat-option>
              <mat-optgroup
                label="Artists"
                *ngIf="searchResult.artists.length > 0"
              >
                <mat-option
                  *ngFor="let artist of searchResult.artists"
                  [value]="artist.name"
                  [routerLink]="['/artist', artist.name]"
                >
                  <small>
                    <b>{{ artist.name }}</b>
                  </small>
                </mat-option>
              </mat-optgroup>
              <mat-optgroup label="Songs" *ngIf="searchResult.songs.length > 0">
                <mat-option
                  *ngFor="let song of searchResult.songs"
                  [value]="song.name"
                  (click)="playSong(song.id)"
                >
                  <small>
                    <b>{{ song.name }}</b>
                  </small>
                  |
                  <small>By {{ song.artist }}</small>
                </mat-option>
              </mat-optgroup>
              <mat-optgroup
                label="Playlists"
                *ngIf="searchResult.playlists.length > 0"
              >
                <mat-option
                  *ngFor="let playlist of searchResult.playlists"
                  [value]="playlist.name"
                  [routerLink]="['/playlist', playlist.id]"
                >
                  <small>
                    <b>{{ playlist.name }}</b>
                  </small>
                  |
                  <small>By {{ playlist.user }}</small>
                </mat-option>
              </mat-optgroup>
              <mat-optgroup
                label="Albums"
                *ngIf="searchResult.albums.length > 0"
              >
                <mat-option
                  *ngFor="let album of searchResult.albums"
                  [value]="album.name"
                  [routerLink]="['/album', album.id]"
                >
                  <small>
                    <b>{{ album.name }}</b>
                  </small>
                  |
                  <small>By {{ album.artist }}</small>
                </mat-option>
              </mat-optgroup>
            </ng-container>
          </mat-autocomplete>
        </mat-form-field>
      </form>
      <span class="example-spacer"></span>
      <mat-list-item>
        <div class="avatar_div">
          <img
            [src]="avatar | safeResourceUrl"
            alt="User Avatar"
            [matMenuTriggerFor]="menu"
          />
        </div>
      </mat-list-item>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-menu #menu="matMenu">
  <div class="menu_avatar">
    <img [src]="avatar | safeResourceUrl" alt="User Avatar" />
    <div matTooltip="{{ username }}">{{ username }}</div>
  </div>
  <mat-divider></mat-divider>
  <button mat-menu-item [routerLink]="['user', username]">Profile</button>
  <button mat-menu-item (click)="logout()">Log out</button>
</mat-menu>

<mat-toolbar class="media-footer">
  <mat-toolbar-row class="media_wrapper">
    <div class="song-info">
      <img [src]="song_image | safeResourceUrl" class="song-cover" />
      <div class="title">
        <div class="name">
          {{ current_song.name }}
        </div>
        <div class="link" [routerLink]="['/artist', current_song.artist]">
          {{ current_song.artist }}
        </div>
      </div>
    </div>
    <div class="player-controls">
      <mat-toolbar-row class="media-action-bar">
        <button mat-button (click)="prevSong()">
          <mat-icon mat-list-icon>skip_previous</mat-icon>
        </button>

        <button mat-button (click)="play()" *ngIf="!state.playing">
          <mat-icon mat-list-icon>play_arrow</mat-icon>
        </button>

        <button mat-button (click)="pause()" *ngIf="state.playing">
          <mat-icon mat-list-icon>pause</mat-icon>
        </button>

        <button mat-button (click)="nextSong()">
          <mat-icon mat-list-icon>skip_next</mat-icon>
        </button>
      </mat-toolbar-row>
      <mat-toolbar-row class="progress-bar">
        <div class="time">{{ state.readableCurrentTime }}</div>
        <mat-slider
          class="time-slider"
          min="0"
          [max]="state.duration"
          step="1"
          [value]="state.currentTime"
          (input)="onSliderChangeEnd($event)"
          [disabled]="!state.canplay"
        >
          <input matSliderThumb />
        </mat-slider>
        <div class="time">{{ state.readableDuration }}</div>
      </mat-toolbar-row>
    </div>
    <div class="filler">
      <div class="title">
        <div class="name">
          {{ current_song.name }}
        </div>
        <div class="link" [routerLink]="['/artist', current_song.artist]">
          {{ current_song.artist }}
        </div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
