mat-sidenav-container {
  height: 100vh;
}
mat-sidenav-container mat-sidenav mat-nav-list .menu-item {
  margin-left: 8px;
}
mat-sidenav-container mat-sidenav mat-nav-list .chevron-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
mat-sidenav-container mat-sidenav mat-nav-list .chevron-button.rotated {
  transform: rotate(180deg);
}

.playlist_header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
  font-size: 16px;
}

.nav_playlist div {
  max-width: 120px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nav_playlist mat-icon {
  padding: 8px;
}

.logo {
  cursor: pointer;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-toolbar {
  height: 80px;
}

.example-spacer {
  flex: 1 1 auto;
}

.avatar_div {
  margin-right: calc(75px + 0.6vw);
  float: right;
  width: 10%;
}

.avatar_div img {
  width: calc(50px + 0.6vw);
  height: calc(50px + 0.6vw);
  border-radius: 50%;
  object-fit: cover;
}

.avatar_div img:hover {
  box-shadow: 1px 5px 10px grey;
  cursor: pointer;
}

.menu_avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.menu_avatar div {
  display: inline-block;
  width: 400px;
  padding: 5%;
}

.menu_avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  padding: 5%;
}

.placeholder {
  opacity: 0.6;
}

.mat-focused .placeholder {
  opacity: 0;
  transition: all 0.2s ease-in;
}
